@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
 
    --muted: 34 14% 90%;
    --muted-foreground: 0, 0%, 50%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
 
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
 
    --border: 0, 0%, 93%;
    --input: 0, 0%, 93%;
 
    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;
 
    --secondary: 34 14% 90%;
    --secondary-foreground: 222.2 47.4% 11.2%;
 
    --accent: 351 83% 53%;
    --accent-foreground: 222.2 84% 4.9%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
 
    --ring: 0, 0%, 89%;
 
    --radius: 0.5rem;
  }
  [data-theme="dark"] {
    --background: 0 0% 0%;
    --foreground: 210 40% 98%;
 
    --muted: 34 14% 10%;
    --muted-foreground: 0, 0%, 50%;
 
    --popover: 0 0% 0%;
    --popover-foreground: 210 40% 98%;
 
    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;
 
    --border: 0, 0%, 15%;
    --input: 0, 0%, 15%;
 
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;
 
    --secondary: 34 14% 10%;
    --secondary-foreground: 210 40% 98%;
 
    --accent: 351 83% 53%;
    --accent-foreground: 222.2 84% 4.9%;
 
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 85.7% 97.3%;
 
    --ring: 0, 0%, 19%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .gradient-backdrop-blur {
    -webkit-mask: -webkit-gradient(
      linear,
      left 60%,
      left 100%,
      from(rgba(0, 0, 0, 1)),
      to(rgba(0, 0, 0, 0))
    );
  }
}